section {
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.1);
  display: block;
  width: 550px;
  margin-bottom: 10px;
}
input {
  padding: 5px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
