.Result {
  text-align: left;
}
h4 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.example {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.7;
  text-decoration: none;
}
